.course-card {
    display: inline-flex;
    flex-direction: column;
    background: var(--white);
    padding: 12px;


    min-width: 310px;
    max-width: 310px;

    min-height:350px;
    max-height:350px;

    height:350px;

    margin: 20px;
    box-shadow: 0 0.15rem 0.75rem 0 rgba(40, 60, 80, 0.15);
    color: var(--gray);
    min-height: 280px;
    transition: 0.3s;
    border-radius:5px;
    padding-bottom: 20px;
}

.course-card > a > img {
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.course-card:hover {
    box-shadow: 0 0.35rem 2rem 0 rgba(40, 60, 80, 0.15);
    transition: 0.4s;
}
.course-card > a > h3 {
    color: var(--gray);
}

button {
    cursor: pointer;
}
.course-card > #enroll {
    margin: 20px;
    background-color: var(--primary);
    border: none;
    border-radius:20px;
    color:white;
    bottom:0;
    height: 10% !important;
}

#edit {
    margin: 0px;
    padding:5px;
    position: sticky;
    bottom: 10px !important;
    background-color: var(--gray-dark);
    border: none;
    color:white;
    margin-left: 37%;
}
.edit_enr {
    margin-top: 40px !important;
}


@media only screen and (max-width: 400px) {
    .course-card {
        max-width: 80% !important;
        min-width: 80% !important;
    }
}