:root {
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
    --pink: #e30059;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --white: #fff;
    --gray: #69707a;
    --gray-dark: #363d47;
    --primary: #0061f2;
    --secondary: #6900c7;
    --success: #00ac69;
    --info: #00cfd5;
    --warning: #f4a100;
    --danger: #e81500;
    --light: #f2f6fc;
    --dark: #212832;
    --black: #000;
    --white: #fff;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
}

a {
    color: var(--dark);
}

.course-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
}



div.container > div.video-browser {
    display: block;
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}

div.container > div.video-browser > button {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    background: none;
    border: none;
    background-color: var(--white);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
div.container > div.video-browser > button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

div.container > div.video-browser > #topic_nav {
    margin-top: 40px;
    background-color: var(--primary);
}




/* .course-container>.video-browser {
    overflow-y: scroll;
    width: 280px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.15rem 0.75rem 0 rgba(40, 60, 80, 0.15);
    overflow-x: hidden;
    height: 100% !important;
}

.course-container>.video-browser>button {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 300ms;
}

.course-container>.video-browser>#navbutton>button {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 300ms;
    width: 100%;
}

.course-container>.video-browser>#navbutton>button:hover {
    background: var(--white);
}

.course-container>.video-browser>#watched {
    color: green;
}

.course-container>.video-browser>button:hover {
    background: var(--white);
} */

.course-container>.left {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.course-container>.left>.video-player {
    display: block;
    background: black;
    width: 100%;
    height: 70%;
}

.course-container>.left>.course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.course-container>.left>.course-info>.info-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.course-container>.left>.course-info>.info-nav>h3 {
    cursor: pointer;
}

.course-container>.left>.course-info>.tab {
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.course-container>.left>.course-info>.tab>div {
    width: 100%;
}

#quiz {
    color: blue;
}

#rateAssignments {
    margin-left: 85%;
    border: none;
    border-radius: .42rem;
    background-color: #00ac69;
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .course-container>.left>.course-info>.info-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 10%;
    }
    .course-container>.left>.course-info>.info-nav>h3 {
        margin: 10px;
    }
    .comment_input {
        width: 60%
    }
    #global {
        margin-top: 20px;
    }
}

#cert {
    padding: 1%;
    border: none;
    border-radius: .42rem;
    background-color: var(--primary);
    color: white;
    width: 10%;
}

.video-mobile {
    display: none !important;
}

.selected {
    color: var(--primary) !important;
}

@media only screen and (max-width: 1000px) {
    .nav_bt {
        width: 10%;
    }
    .mrg {
        margin-top: 15%;
    }
    .course-comments {
        width: 80%;
    }
    .info-nav {
        display: block !important;
        margin-bottom: 30px;
    }
    .info-nav>h3 {
        margin: 0 auto !important;
        margin-left: 20px !important;
    }
    .course-files {
        margin-left: 0 !important;
        position: absolute;
        max-width: 80%;
    }
    .course-files>div {
        display: inline-block !important;
    }
    .course-files>div>h2 {
        display: inline-block !important;
    }
    .video-browser {
        display: none !important;
        visibility: hidden !important;
    }
    .left {
        position: relative;
    }
    .video-mobile {
        display: flex !important;
        overflow: auto !important;
        white-space: nowrap !important;
        position: absolute !important;
        bottom: 0 !important;
        max-width: 100% !important;
        top: 0;
        height: 10%;
        margin-left: -20px !important;
        padding: 5px;
        left: 0;
    }
    .video-mobile>#navbutton {
        display: inline-block !important;
        text-align: center !important;
        text-decoration: none !important;
    }
    div.course-container>div>div.video-mobile>button {
        background: none !important;
        border: none;
        padding: -5px;
        margin-right: 10px !important;
    }
    div.course-container>div>div.video-mobile>button>h2 {
        transform: scale(0.7);
    }
    .left {
        min-width: 80%;
    }
    #root>div>div.container {
        min-width: 100% !important;
    }
    .selected {
        border-bottom: 1px solid var(--primary) !important;
    }
}

@media only screen and (min-width: 1001px) {
    .video-mobile {
        visibility: visible;
        display: block;
    }
    .video-browser {
        visibility: true;
        display: block;
    }
}