.container {
    width: 100%;
    min-height: 100vh;
}

.container>.details {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    padding-bottom: 100px;
    color: #FFF;
    background-image: linear-gradient(135deg, var(--green) 0%, rgba(15, 162, 139, 0.8) 100%);
}

.container>.details>#desc {
    width: 70%;
}

#icon>img {
    /* width: 200px;
    height: 200px; */
    position: absolute;
    right: 5%;
    top: 1.5%;
    display: inline-block;
    width: 10%;
}

#mobileIcon {
    display: none;
}

#mobileNav {
    visibility: hidden;
}

#mobileNav>#icn {
    transform: scale(2);
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
    #icon>img {
        transform: scale(0.8);
    }
    .container>.details>#desc {
        width: 50%;
    }
    .container>.details>#det {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    #icon>img {
        transform: scale(0.6);
    }
}

@media only screen and (max-width: 800px) {
    #mobileIcon {
        display: block;
    }
    .computerIcon {
        display: none;
    }
    #mobileNav {
        visibility: visible;
        bottom: 15px;
        /* position: -webkit-sticky; */
        position: fixed;
        left: 15px;
        margin-left: 15px;
    }

    .mobile-nav-item {
        margin: 10px 0px;
    }

    .mobile-nav-item > ul {
        margin-left: 10px;
    }
    .mobile-nav-item > ul > li {
        font-size:1.1em;
        padding: 3px;
    }


    .container > .details {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
        padding-top: 10px
    }

    .container > .details > #det {
        width: 100%;
        margin-top: -100px;
        z-index: 5;
        text-align: center;
    }

    .container > .details > #desc {
        display: none;
    }

    .container > .details > img {
        width: 50%;
        opacity: 0.5;
    }
}