:root {
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
    --pink: #e30059;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --white: #fff;
    --gray: #69707a;
    --gray-dark: #363d47;
    --primary: #0061f2;
    --secondary: #6900c7;
    --success: #00ac69;
    --info: #00cfd5;
    --warning: #f4a100;
    --danger: #e81500;
    --light: #f2f6fc;
    --dark: #212832;
    --black: #000;
    --white: #fff;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
}


.ready {
    margin: auto;
    color: var(--dark)
}

.ready > button {
    border: none;
    border-radius: .42rem;
    background-color: var(--primary);
    color: white;
    padding: 10px;
    width: 10%;
    margin: 10px;
    margin-bottom: 20px;
}
#back {
    margin: 20px;
    border: none;
    border-radius: .42rem;
    background-color: var(--primary);
    color: white;
    padding: 10px;
    width: 7.5%;
}

#back {
    margin-left: auto;
    margin-right: auto;
}

#table {
    width: 1280px;
    max-width: 95%;
    height: 500px;
    margin: 30px auto;
    background: #FFF;
    box-shadow: 0 0.15rem 0.75rem 0 rgba(40, 60, 80, 0.15);
}

@media only screen and (max-width: 1000px) {
    .ready > button {
        width: 40%;
    }
    #back {
        width: 40%;
    }
}