.lectures {
    margin:0;
    border:2px solid black;
    width:20%;
}
.item {
    color: var(--green);
    display:flex;
    width:100%;
    position:relative;
    margin-left: 10px;
}
.icon {
    display:inline-flex;
    margin-left:10px;
}
:root {
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
    --pink: #e30059;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --white: #fff;
    --gray: #69707a;
    --gray-dark: #363d47;
    --primary: #0061f2;
    --secondary: #6900c7;
    --success: #00ac69;
    --info: #00cfd5;
    --warning: #f4a100;
    --danger: #e81500;
    --light: #f2f6fc;
    --dark: #212832;
    --black: #000;
    --white: #fff;
    --red: #e81500;
    --orange: #f76400;
    --yellow: #f4a100;
    --green: #00ac69;
    --teal: #00ba94;
    --cyan: #00cfd5;
    --blue: #0061f2;
    --indigo: #5800e8;
    --purple: #6900c7;
}