.landing {
    width: 100%;
    min-height: 100vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing > .landing-container {
    width: 80%;
    height: 80%;
    background: var(--light);
    border-radius: .45rem;
    overflow: hidden;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(40, 60, 80, 0.45);
    display: flex;
}

.landing > .landing-container > .image {
    width: 50%;
    height: 100%;
    background-image: url("../static/landing.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible !important;
}

.landing > .landing-container > .form {
    padding: 40px;
    box-sizing: border-box;
    width: 50%;
    overflow-y: scroll;
}

.landing > .landing-container > .form::-webkit-scrollbar {
    width: 0px;
}

.landing > .landing-container > .form > h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--gray-dark);
}

.landing > .landing-container > .form > form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.landing > .landing-container > .form > form > label {
    font-size: 1.2em;
    margin-bottom: 7.5px;
}

.landing > .landing-container > .form > form > input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.1em;
    border: 2px solid var(--gray);
    border-radius: .25rem;
    color: var(--gray);
}

.landing > .landing-container > .form > form > button {
    max-width: 280px;
    padding: 10px;
    background: var(--green);
    color: var(--light);
    border: none;
    margin: 50px 0px 10px calc(50% - 140px);
    font-size: 1.1em;
    cursor: pointer;
}